<div class="wrapper bg-white m-4 p-2">
    <h4 class="mb-4">Flight Details:</h4>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">Route</th>
          <th scope="col">Departs</th>
          <th scope="col">Arrives</th>
          <th scope="col">Stops</th>
          <th scope="col">Fare</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of selection">
          <th scope="row">{{item.name}}</th>
          <td>{{item.depart}}</td>
          <td>{{item.arrive}}</td>
          <td>{{item.stops}}</td>
          <td>{{item.fare}}</td>
        </tr>
      </tbody>
    </table>
    <h4 class="mt-4">Payment Options:</h4>
      <ul>
        <li class="paymentOption">UPI</li>
        <li class="paymentOption">ADD DEBIT / CREDIT / ATM card</li>
        <li class="paymentOption">NET BANKING</li>
      </ul>
  </div>