<div>
    <h1 class="text-center m-4">Supporting You Through Your Travel Journey</h1>
   <div class="row mx-0 mb-4">
        <div class="col-sm-6">
            <div class="card">
                <img src="../../assets/images/explore.jpg" class="card-img-top card-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">EXPLORE DESTINATIONS & TRAVEL REQUIREMENTS</h5>
                    <p class="card-text">Use our interactive Discover Map to find out what's open for travel and get details on any potential entry requirements.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <img src="../../assets/images/customer.jpg" class="card-img-top card-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">FLYING MADE SIMPLE</h5>
                    <p class="card-text">We have simplified the travel experience from booking to flying and giving you more control.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-0 mb-4">
        <div class="col-sm-6">
            <div class="card">
                <img src="../../assets/images/covid-travel.jpg" class="card-img-top card-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">SAFER TRAVEL EXPERIENCE</h5>
                    <p class="card-text">We are doing everything we can to deliver a safe, healthy and clean travel experience.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <img src="../../assets/images/helpdesk.jpg" class="card-img-top card-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">NO CHANGE FEES</h5>
                    <p class="card-text">Book your next trip and enjoy more peace of mind with no change fees when you purchase a main cabin ticket.</p>
                </div>
            </div>
        </div>
    </div>
  </div>